.serviceMainPage{
    .mainServiceBanner{
        background-color: rgb(24 216 184);
        padding-top: 104px;
        background-image: linear-gradient(360deg, #55ebe5, transparent);

        .bannerText{
            h1{
                font-size: 8vh;
                font-weight: 700;
                color: #fff;
                text-shadow: 0px 9px 1px rgb(128 128 128 / 51%);
                margin: 36px 0px;
            }
            p{
                font-size: 3vh;
                color: #ffff;
                line-height: 32px;
            }
        }

        
    }

    .aboutServices{
        .aboutsubService{
            h1{
                font-size: 8vh;
                font-weight: 700;
                color: #fff;
                text-shadow: 0px 9px 1px rgb(128 128 128 / 51%);
                margin: 36px 0px;
            }
            p{
                font-size: 3vh;
                color: #ffff;
                line-height: 32px;
            }
        }
    }
}