<div class="serviceMainPage">
    <div class="mainServiceBanner">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="bannerText">
                        <h1>Best Graphic Design in Hyderabad</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="bannerImage">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="aboutServices">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="aboutsubService">
                        <h2>Best Graphic Design in Hyderabad</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                </div>
                <div class="col-6">
                    <div class="aboutSubServiceImage">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="aboutServices1">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="aboutSubServiceImage1">
                        <img src="" alt="">
                    </div>
                </div>
                <div class="col-6">
                    <div class="aboutsubService1">
                        <h2>Best Graphic Design in Hyderabad</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mainInnerServices">
        <div class="container">
            <div class="row">
                <div class="inServiceHeading">
                    <h3>Best Graphic Design in Hyderabad</h3>
                </div>
                <div class="col-3">
                    <div class="serviceCard">
                        <img src="" alt="">
                        <h3>UI/UX Design</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="serviceCard">
                        <img src="" alt="">
                        <h3>UI/UX Design</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="serviceCard">
                        <img src="" alt="">
                        <h3>UI/UX Design</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="serviceCard">
                        <img src="" alt="">
                        <h3>UI/UX Design</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mainFAQs">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="" alt="">
                </div>
                <div class="col-6">
                    <div class="faqsList">
                        <h4>Frequently Question Asked</h4>
                        <div class="example-action-buttons">
                            <button mat-button (click)="accordion.openAll()">Expand All</button>
                            <button mat-button (click)="accordion.closeAll()">Collapse All</button>
                          </div>
                          <mat-accordion class="example-headers-align" multi>
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Personal data
                                </mat-panel-title>
                                <mat-panel-description>
                                  Type your name and age
                                 
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                          
                              <mat-form-field appearance="fill">
                                <mat-label>First name</mat-label>
                              >
                              </mat-form-field>
                          
                              <mat-form-field appearance="fill">
                                <mat-label>Age</mat-label>
                               
                              </mat-form-field>
                          
                            </mat-expansion-panel>
                       
                          
                            <mat-expansion-panel>
                              <mat-expansion-panel-header>
                                <mat-panel-title>
                                  Day of the trip
                                </mat-panel-title>
                                <mat-panel-description>
                                  Inform the date you wish to travel
                                
                                </mat-panel-description>
                              </mat-expansion-panel-header>
                          
                              <mat-form-field appearance="fill">
                                <mat-label>Date</mat-label>
                               
                              </mat-form-field>
                            
                            </mat-expansion-panel>
                          </mat-accordion>
                          
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>