
    <div class="mainSciptosoft">
        <div class="subBanner">
            <div class="container">
            
                <!-- <app-nav></app-nav> -->
                <div class="mainBanner">
                    
    
                    <div class=" row ">
                        <div class="col-5">
                            <div class="banText">
                                <h1>We Develop your business</h1>
                                <p>
                                    A Website if your business identity. Develop an attractive and stunning digital identity through our website development service through which you can build a robust platform.
                                    we develop attractive,digital identity platform,throu,
                
                                </p>
                                <button class="ScriptBtn">Start Project</button>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="banImage">
                                <img src="../../../assets/images/mainslide.svg" alt="Full Stack">
                             </div>
                        </div>
                        
                    </div>
    
                </div>
              
               
            </div>        
        </div>
       
       
    </div>

    <!-- Service start-->

    <div class="mainServices">
  
        <div class="container">
            <div class=" whatweAre">
                <h1>What we are</h1>
                <p>aslkdfjalskdjf asdkfajlksdjf alskdfjalksjdf alsdkjfalksdjfak askdasljkdjfalsd </p>
            </div>
    

            <div class="row">
                <div class="col-2">   
                    <div class="subServices">
                        <img src="" alt="">
                        <h1>Consultant</h1>
                    </div>
                </div>
                <div class="col-2">   
                    <div class="subServices">
                        <img src="" alt="">
                        <h1>Consultant</h1>
                    </div>
                </div>
                <div class="col-2">   
                    <div class="subServices">
                        <img src="" alt="">
                        <h1>Consultant</h1>
                    </div>
                </div>
                <div class="col-2">   
                    <div class="subServices">
                        <img src="" alt="">
                        <h1>Consultant</h1>
                    </div>
                </div>
                <div class="col-2">   
                    <div class="subServices">
                        <img src="" alt="">
                        <h1>Consultant</h1>
                    </div>
                </div>
            </div>

        </div>

        
    </div>
   
