
    <div class="mainSciptosoft">
        <div class="subBanner">
            <div class="container">
            
                <app-nav></app-nav>
                <div class="mainBanner">
                    
    
                    <div class=" row ">
                        <div class="col-5">
                            <div class="banText">
                                <h1>We Develop your business</h1>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi lacinia vestibulum metus eget luctus. Praesent sit amet odio imperdiet, sollicitudin felis ut, vehicula dolor. 
                
                                </p>
                                <button class="ScriptBtn">Start Project</button>
                            </div>
                        </div>
                        <div class="col-7">
                            <div class="banImage">
                                <img src="../../../assets/images/mainslide.svg" alt="Full Stack">
                             </div>
                        </div>
                        
                    </div>
    
    
                </div>
              
                <div class="row whatweAre">
        
                </div>
            </div>        
        </div>
       
       
    </div>

   
