
  
        <nav class="navbar navbar-expand-lg fixed-top ">
            <div class="container">
                <a href="#" class="navbar-brand"><img src="../../../assets/images/logo.png" alt="ScriptoSoft Logo"></a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav">
                        <a href="#" class="nav-item nav-link active">Home</a>
                        <a href="#" class="nav-item nav-link">About Us</a>
                        <a href="#" routerLink='/web-design' class="nav-item nav-link">Web Applications</a>
                        <a href="#"  class="nav-item nav-link">Mobile Applications</a>
                        <a href="#" class="nav-item nav-link">Digital Marketing</a>
                        <a href="#" class="nav-item nav-link">E-Commerce</a>
                    </div>
                    <div class="navbar-nav ms-auto">
                        <a href="#" class="ScriptBtn">Contact Us</a>
                    </div>
                </div>
            </div>
        </nav>


