.container{
    .navbar-brand{
        
            width: 20%;
        img{
                    
            width: 96%;

        }
    }

    .navbar-nav {

        a{
            color: #363636;
            font-size: 18px;
        }
    }
    
}